@import "tailwindcss";
#root {
  @apply mx-auto px-4 sm:px-8 text-center w-full;
}

.card {
  @apply p-8;
}

.read-the-docs {
  @apply text-gray-400;
}

body {
  @apply bg-white;
}

.app-root {
  @apply h-full flex flex-col;
}

@theme {
  --color-light: oklch(98.5% 0.002 247.839);
  --color-dark: oklch(55.4% 0.046 257.417);
  --color-body-light: oklch(92.4% 0.12 95.746);
  --color-card-primary: #FFFFFF;
  --color-card-text: oklch(98.5% 0.002 247.839);
  --color-primary:rgb(88, 135, 237);      
  --color-primary-light: #60a5fa;
  --color-primary-dark: #1e40af; 
  --color-secondary: #7c3aed;    
  --color-secondary-light: #a78bfa;
  --color-secondary-dark: #4c1d95;
  --color-highlight: #fbbf24;    
  --color-highlight-light: #fde68a;
  --color-highlight-dark: #b45309; 
  --color-text: #1e293b;         
  --color-text-light: #64748b;   
  --color-text-dark: #0f172a;
  --color-tag: oklch(98.5% 0.002 247.839); 
}
